@use "../../styles/" as *;

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #00000050;
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.hiddenAnimate {
  animation: disappear 1s forwards;
}

.animate {
  animation: unslide 1s forwards !important;
}

.drawer {
  height: 100%;
  width: 100%;

  background-color: $dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding: $padding;
  padding-right: $horizontalMargin + $padding;
  animation: slide 1s forwards;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX($horizontalMargin);
  }
}

@keyframes unslide {
  from {
    transform: translateX($horizontalMargin);
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}

@keyframes disappear {
  from {
  }
  to {
    display: none;
  }
}
