@import "styles/";

.chip {
  height: $baseComponentHeight;
  border-radius: $borderRadius;
  padding: 0 $doublePadding;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.chip .label {
  font-size: $fontSize;
}

.primarySelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $primary inset;
}

.secondarySelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $secondary inset;
}
.lightSelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $light inset;
}
.darkSelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $dark inset;
}
.warningSelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $warning inset;
}
.dangerSelectedBorder {
  box-shadow: 0px 0px 0px $selectedBorderSize $danger inset;
}
