@import "../../styles/";

.searchInput {
  width: 100%;
  margin-bottom: $padding;
}

.searchInputWrapper {
  flex-grow: 1;
  flex-shrink: 0;
}

.wrapper {
  width: 100%;
}

.pfp {
  width: $baseComponentHeight;
  width: $baseComponentHeight;
  object-fit: cover;
  border-radius: $borderRadius;
}

.link {
  text-decoration: none;
}

.userCard {
  display: flex;
  align-items: center;
  gap: $padding;
  border-radius: $borderRadius;
  padding: $padding;
}

.usersSearch {
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.scrollSection + .scrollSection {
  margin-top: $padding;
}

.searchBar {
  display: flex;
  width: 100%;
  gap: $halfPadding;
}

.searchCategoryButton {
  flex-shrink: 1;
}
