.label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.radioButton {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  transition: border 0.15s ease-in-out;
}
