@use "../../styles/" as *;

.wrapper {
  width: 100%;
  padding-left: $doublePadding;
  padding-right: $doublePadding;
  padding-top: $padding;
  padding-bottom: $padding;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $padding;
}

.lightIcon > * {
  color: $light;
}

.darkIcon > * {
  color: $dark;
}
