@import "styles/";
.image {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: $borderRadius;
  margin-bottom: 8px;
}

.wrapper {
  position: relative;
  width: auto;
  max-width: vw-calc(400);
  padding: 32px;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $tabletBreakpoint) {
    max-width: 100%;
  }
}

.arrowForward {
  right: 33px;
  border-radius: $borderRadius 0 0 $borderRadius;
}

.arrowBack {
  left: 33px;
  border-radius: 0 $borderRadius $borderRadius 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0000003f;
  border: none;
  height: 25%;
  color: $light;
  padding: 0 8px 0 8px;
  cursor: pointer;
  color: $light;

  @media screen and (max-width: $tabletBreakpoint) {
    padding: 0 32px 0 32px;
    height: 50%;
  }
}

.title {
  font-size: rem-calc(16);
  text-align: center;
}

.lightBorder {
  border: 2px solid $dark;
}

.primaryBorder,
.secondaryBorder,
.darkBorder,
.warningBorder,
.dangerBorder {
  border: 2px solid $light;
}
