@import "../../styles/";

.error {
  font-size: $fontSize * 0.875;
  color: $danger;
  margin-top: $halfPadding;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: $padding;

  align-items: center;
  justify-content: center;
}

.submitButton {
  width: 100%;
}
