@use "../../styles/" as *;

.header {
  -webkit-text-fill-color: $dark;
  margin-bottom: $doublePadding;
  @include text-outline(
    $offset: $halfPadding / 2,
    $color: #ffffff,
    $num-steps: 32
  );

  @media screen and (max-width: $desktopBreakpoint) {
    font-size: $headerFontSize !important;
  }
}

.imageAligner {
  background-image: url("/fadingBracket.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  @media screen and (max-width: $tabletBreakpoint) {
    height: clamp($doublePadding * 2, 100%, $tabletBreakpoint/4);
    margin-top: $padding;
  }

  @media screen and (max-width: $phoneBreakpoint) {
    background-image: url("/fadingBracketMobile.svg");
    height: 100%;
  }
}

.subheaderTextWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
  }
}

.wrapper {
  width: clamp(0px, 100%, $desktopBreakpoint);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $tabletBreakpoint) {
    height: 100%;
    justify-content: center;
  }
}

.innerFormWrapper {
  width: clamp(0px, 75%, $desktopBreakpoint);
  @media screen and (max-width: $desktopBreakpoint) {
    width: 100%;
  }
}

.subheaderText {
  @media screen and (max-width: $desktopBreakpoint) {
    font-size: $largeFontSize !important;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding-bottom: $doublePadding;
}

.error {
  margin-bottom: $padding;
  text-align: left;
}

.slider {
  display: flex;
  align-items: center;
}

.preferredRadius {
  padding-top: $padding;
  padding-left: $halfPadding;
}

.slider,
.error,
.submitButton,
.input,
.inputSliderWrapper {
  width: 100%;
}

.fullName {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: $halfPadding;
}

.dropdown {
  width: 100%;
}

.onsiteSlideButton {
  display: flex;
  align-items: center;
  gap: $halfPadding;
}
