@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  //transition: all 0.2s ease-in-out;
  font-family: "Lexend", "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Roboto", "Ubuntu", "Courier New", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
