@import "../../styles/";

.form {
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.iconButton {
  width: $baseComponentHeight;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
