@import "../../styles/";

.screen {
  padding-top: $doublePadding * 4;
  padding-bottom: $doublePadding * 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: $horizontalMargin;
  padding-right: $horizontalMargin;

  @media screen and (max-width: $tabletBreakpoint) {
    padding-left: $doublePadding;
    padding-right: $doublePadding;
  }
}

.navbar {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
