@use "../../styles/" as *;

.groupLogo {
  width: $baseComponentHeight;
  height: $baseComponentHeight;
  object-fit: cover;
  border-radius: $borderRadius;
}

.groupInfoWrapper {
  display: flex;
  align-items: center;
  gap: $padding;
  border-radius: $borderRadius;
  padding: $halfPadding $padding;
}

.inherit {
  color: inherit;
}

.groupsWrapper {
  display: flex;
  align-items: center;
  gap: $padding;
  margin-top: $padding;
}

.secondTitle {
  margin-top: $padding;
}

.groupsInnerWrapper {
  display: flex;
  gap: $halfPadding;
  flex-wrap: wrap;
  width: 100%;
}

.submitButton {
  width: 100%;
  margin-top: $padding;
}
