@import "../../styles/";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $doublePadding;
  height: $baseComponentHeight + $doublePadding;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  border-radius: 0 0 $borderRadius $borderRadius;
  z-index: 96;

  @media screen and (max-width: $tabletBreakpoint) {
    width: 100%;
  }
}

.profilePicture,
.logo {
  width: $baseComponentHeight;
  height: $baseComponentHeight;
  border-radius: $borderRadius;
}

.interactiveSection {
  display: inline-flex;
  gap: $padding;
}

.optionWrapper {
  right: -($baseComponentHeight + $doublePadding);
  border-top-right-radius: 0;
}
