@use "../../styles/" as *;

.header {
  @media screen and (max-width: $desktopBreakpoint) {
    font-size: $headerFontSize !important;
  }
}

.lightHeader {
  -webkit-text-fill-color: $dark;
  @include text-outline(
    $offset: $halfPadding / 2,
    $color: $light,
    $num-steps: 32
  );
}

.darkHeader {
  -webkit-text-fill-color: $light;
  @include text-outline(
    $offset: $halfPadding / 2,
    $color: $dark,
    $num-steps: 32
  );
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $borderRadius;
}

.imageWrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height: 100%;
  grid-column-gap: $doublePadding * 2;

  @media screen and (max-width: $desktopBreakpoint) {
    display: flex;
    flex-direction: column;
    gap: $padding;
  }
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: $padding;
  justify-content: center;
}

.divider {
  @media screen and (max-width: $desktopBreakpoint) {
    display: none;
  }
}
