@use "../../styles/" as *;

.header {
  -webkit-text-fill-color: $dark;
  @include text-outline(
    $offset: $halfPadding / 2,
    $color: #ffffff,
    $num-steps: 32
  );

  @media screen and (max-width: $desktopBreakpoint) {
    font-size: $headerFontSize !important;
  }
}

.input {
  min-height: 25vh;
  width: 100%;
  max-height: calc(75vh - $baseComponentHeight - $padding);
  border-radius: $borderRadius;
  resize: vertical;
  @media screen and (max-width: $desktopBreakpoint) {
    min-height: 25vh;
    resize: none;
  }
}

.button {
  width: 100%;
  height: $baseComponentHeight;
}

.image {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  border-radius: $borderRadius;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 0.5fr 2fr;
  width: 100%;

  @media screen and (max-width: $desktopBreakpoint) {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $padding;
    justify-content: center;
  }
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: $padding;
  justify-content: center;

  @media screen and (max-width: $desktopBreakpoint) {
    height: min-content;
  }
}

.promoteLink {
  display: flex;
  text-decoration: none;
  font-weight: 700;
}

.divider {
  @media screen and (max-width: $desktopBreakpoint) {
    display: none;
  }
}
