@import "../../styles/";

.dialog {
  padding: $padding $doublePadding;
  border-radius: $borderRadius;
  overflow-y: auto;
  max-height: 100vh;
}

.dialogWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #000000dd;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
