@import "styles/";

.toast {
  min-height: $baseComponentHeight;
  border-radius: $borderRadius;
  padding: 0 $doublePadding;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  animation-iteration-count: 1;

  &:hover {
    cursor: pointer;
  }
}

.message {
  font-size: $fontSize;
  text-overflow: ellipsis;
  max-height: 5 * $fontSize;
  text-align: left;
  overflow: hidden;
}

.check {
  height: 0.5 * $baseComponentHeight;
  width: auto;
  margin-right: $padding;
}

@keyframes toastAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
