@import "styles/";

.toast {
  min-height: 56px;
  border-radius: $borderRadius;
  padding: 0 32px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  animation-iteration-count: 1;
  &:hover {
    cursor: pointer;
  }
}

.message {
  font-size: rem-calc(16);
  text-overflow: ellipsis;
  max-height: 5rem;
  text-align: left;
  overflow: hidden;
}

.check {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

@keyframes toastAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
