@use "../../styles/variables" as v;

.toastList {
  position: fixed;
  width: 100%;
  max-width: v.$toastListWidth;
  max-height: 100vh;
  height: 100%;
  overflow: hidden auto;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  scrollbar-width: none;
  flex-direction: column;
  padding-right: 16px;
  @media only screen and (max-width: v.$tabletBreakpoint) {
    padding-left: 16px;
    max-width: 100%;
    width: 100%;
  }
}
.toastList::-webkit-scrollbar {
  display: none;
}
/*
.toastList > * {
  animation:
    toastAnimation v.$toastSpeed 0ms ease-in-out,
    toastAnimation v.$toastSpeed 6000ms - v.$toastSpeed ease-in-out forwards;
  animation-direction: normal, reverse;
}
  */
/*

@keyframes toastAnimation {
  from {
    //transform: translateX(150%);
    opacity: 0;
  }
  to {
    //transform: translateX(0);
    opacity: 1;
  }
}
*/

@media only screen and (max-width: v.$tabletBreakpoint) {
  .toastList {
    padding-left: 16px;
    max-width: 100%;
    width: 100%;
  }
}
