@import "../../styles/";

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $padding;
  border-radius: $borderRadius;
  padding: $padding;
}

.tab {
  height: $baseComponentHeight;
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.rosterEditForm {
  margin-top: $doublePadding;
}

.manageRostersTitle {
  margin-bottom: $halfPadding;
  display: flex;
  gap: $halfPadding;
  align-items: center;
}

.addButton {
  border: none;
  background: none;
}
