@use "../../styles/" as *;

.wrapper {
  width: 100%;
  height: 100%;
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  gap: $padding;

  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }

  @media screen and (max-height: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }
}

.dropdown {
  width: 100%;
}

.card {
  padding: $padding;
  border-radius: $borderRadius;
}

.playerCard {
  height: $baseComponentHeight;
  display: flex;
  align-items: center;
  padding: $padding;
  border-radius: $borderRadius;
}
