@use "../../styles/" as *;

.wrapper {
  width: 100%;
  height: 100%;
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  gap: $padding;

  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }

  @media screen and (max-height: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }
}

.dropdown {
  width: 100%;
}

.card {
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  gap: $halfPadding;
}

.playerCard {
  height: $baseComponentHeight;
  display: flex;
  align-items: center;
  padding: $padding;
  border-radius: $borderRadius;
}

.dialogWrapper {
  width: 75%;
  max-height: 75%;

  @media screen and (max-width: $phoneBreakpoint) {
    width: 100%;
    max-height: 100%;
  }
}

.dropdown,
.title {
  margin-bottom: $padding;
}

.actionButtonIcon {
  width: $baseComponentHeight;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: $halfPadding;
}

.playerCards {
  display: flex;
  flex-direction: column;
  gap: $halfPadding;
  width: 100%;
}

.rostersWrapper {
  display: flex;
  flex-direction: column;
  gap: $halfPadding;
}
