$toastSpeed: 350ms;
$toastListScrollbarWidth: 0.35em;
$toastListWidth: 500px;
$toastListPadding: 1em;
$phoneBreakpoint: 375px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$desktopLargeBreakpoint: 1440px;
