$toastSpeed: 350ms;
$toastListScrollbarWidth: 0.35em;
$toastListWidth: 500px;
$toastListPadding: 1em;
$phoneBreakpoint: 375px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$desktopLargeBreakpoint: 1440px;
$primary: "#59C3C3";
$secondary: "#197BBD";
$light: "#F2F2F2";
$dark: "#21262C";
$danger: "#F45B69";
$warning: "#F2AF29";
$primaryMuted: "#71ADAD";
$secondaryMuted: "#2E77A8";
$lightMuted: "#DEDEDE";
$darkMuted: "#383838";
$dangerMuted: "#E26E78";
$warningMuted: "#DBA73D";
