@use "calc" as *;

$toastSpeed: 350ms;
$toastListScrollbarWidth: 0.35em;
$toastListWidth: 500px;
$toastListPadding: 1em;
$phoneBreakpoint: 480px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;
$desktopLargeBreakpoint: 1440px;
$borderRadius: 24px;
$primary: #59c3c3;
$secondary: #197bbd;
$light: #f2f2f2;
$dark: #21262c;
$danger: #f45b69;
$warning: #f2af29;
$primaryMuted: #71adad;
$secondaryMuted: #2e77a8;
$lightMuted: #dedede;
$darkMuted: #383838;
$dangerMuted: #e26e78;
$warningMuted: #dba73d;
$disabled: #b5b5b3;
$baseComponentHeight: 56px;
$padding: 16px;
$doublePadding: 32px;
$halfPadding: 8px;
$horizontalMargin: 192px;
$fontSize: rem-calc(16);
$largeFontSize: rem-calc(32);
$headerFontSize: rem-calc(48);
$titleFontSize: rem-calc(96);
$baseBorderSize: 2px;
$selectedBorderSize: 6px;
$animationDuration: 0.2s;
$animationEasingFunction: cubic-bezier(0.35, 0, 0.25, 1);
