@use "../../styles/" as *;

.wrapper {
  width: 100%;
  height: 100%;
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  gap: $padding;

  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }

  @media screen and (max-height: $tabletBreakpoint) {
    flex-direction: column;
    gap: $doublePadding;
  }
}

.addButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  gap: $padding;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.card {
  display: flex;
  flex-direction: column;
  gap: $doublePadding;
  padding: $padding;
  border-radius: $borderRadius;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: $halfPadding;
}

.cardWrapper {
  display: flex;
}

.actionButtons {
  display: flex;
  height: 100% !important;
  margin-left: $padding;
}

.actionButton {
  padding: $halfPadding;
  height: calc(1rem + $padding) !important;
}

.actionButton + .actionButton {
  margin-left: $halfPadding;
}

.cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: $halfPadding;

  @media screen and (max-width: $desktopBreakpoint) {
    grid-template-columns: 1fr;
  }
}

.careers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $halfPadding;
}
.career {
  flex-grow: 0;
}
