@use "../../styles/" as *;

.wrapper {
  width: clamp(0px, 100%, $tabletBreakpoint);
}

.matchupCard {
  display: flex;
  border-radius: $borderRadius;
  padding: $padding;
  gap: $padding;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: $padding;
  padding: $padding;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  gap: $halfPadding;
  width: 100%;
}

.matchupWrapper {
  display: flex;
  gap: $doublePadding;
  padding: $padding;
  border-radius: $borderRadius;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $desktopBreakpoint) {
    flex-direction: column;
    gap: $halfPadding;
    align-items: center;
  }
}

.details {
  display: flex;
  align-items: center;
  gap: $halfPadding;
  justify-content: center;
}

.submitButton {
  display: flex;
  padding: $padding;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  gap: $padding;
}
