@import "styles/";

.button {
  height: $baseComponentHeight;
  border-radius: $borderRadius;
  padding: 0 $doublePadding;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.label {
  font-size: $fontSize;
}
