@import "../../styles/";

.form {
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.iconButton {
  width: $baseComponentHeight;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addQuestion {
  display: flex;
  gap: $halfPadding;
  align-items: flex-start;
  flex-direction: column;
}

.hoursMinutesAndSeconds {
  display: flex;
  gap: $halfPadding;
}

.quizQuestionForm {
  padding: $padding;
  border-radius: $borderRadius;
}

.questionCoverImage {
  height: $baseComponentHeight;
  width: $baseComponentHeight;
  object-fit: cover;
  border-radius: $borderRadius;
}

.question {
  border-radius: $borderRadius;
  padding: $padding;

  display: flex;
  flex-direction: column;
  gap: $padding;
}

.questionTop {
  display: flex;
  align-items: center;
  gap: $padding;
}

.timeLimit,
.questionProperty {
  display: flex;
  align-items: center;
  gap: $halfPadding;
}

.questionOption {
  display: flex;
  align-items: center;
  padding: $halfPadding;
}

.options {
  flex-direction: column;
  align-items: flex-start;
}

.questionBottom {
  display: flex;
  flex-direction: column;
  gap: $padding;
}

.questionOption {
  border-radius: $borderRadius;
  display: flex;
  gap: $padding;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: $padding;
}
