@use "../../styles/" as *;

.noTextDecoration {
  text-decoration: none !important;
}

.userCardLink {
  background-color: transparent;
  min-width: 0;
}

.userCardWrapper {
  display: flex;
  gap: $padding;
  padding: $halfPadding;
  border-radius: $borderRadius;
  justify-content: space-between;
  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    width: calc(100vw - $doublePadding * 2);
  }
}

.userCardInnerWrapper {
  display: flex;
  gap: $padding;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.userCardProfilePicture,
.userCardRemoveButton {
  width: $baseComponentHeight;
  height: $baseComponentHeight;
  object-fit: cover;
  border-radius: $borderRadius;
  border: none;
  flex-basis: $baseComponentHeight;
}

.userCardRemoveButton {
  flex: 0 0 $baseComponentHeight;
}

.userCardTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.userCardText {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
}

.groupMembers {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(10 * $baseComponentHeight, 1fr)
  );
  gap: $padding;
  height: 100%;
}

.title {
  margin-bottom: $halfPadding;
}

.loadMoreButton {
  margin-left: $padding;
}

.actionButtons {
  display: flex;
  gap: $halfPadding;
  align-items: center;
  min-width: 0;
}
